body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

#fullscreenButton {
    position: fixed;
    z-index: 10; /* Ensure the button is above other elements */
    bottom: 50px;
    left: 42%;
    padding: 10px;
    font-size: 24px;
    background-color: black; /* Add a background color for visibility */
    color: white; /* Change the color of the text */
    border: none; /* Optional: remove the border */
    border-radius: 5px; /* Optional: round the corners */
    cursor: pointer;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}
img {
    /* position: absolute; */
    top: 0;
    height: 70%;
    width: 70%; /* Half the width of the container */
    object-fit: cover;
    margin: 10 10%;
    margin-top: 7%;
    /* transform: translate(-50%, -50%); */
}

#rightImage {
    right: 0;
    margin-top: 7%;
    /* transform: perspective(600px) rotateY(-45deg); */
    transform-origin: center;
    /* width: 100%; */
}

#leftImage {
    left: 0;
    margin-top: 7%;
    /* transform: perspective(600px) rotateY(45deg); */
    transform-origin: center;
    /* width: 100%; */
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
